@import '../../../style/variables/colors';
@import '../../../style/variables/commonFixedSizes';

.playerPresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $tile-size * 3;
}

.playingPlayerHighlight {
  background: $gray;
}

.whitePlayerName {
  color: $white;
}

.blackPlayerName {
  color: $black;
}

#pieceContainer {
  width: $tile-size;
  height: $tile-size;
}
