.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github-icon-link {
  display: flex;
}

.github-icon {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}
