@import '../../style/variables/commonFixedSizes';
@import '../../style/variables/colors';

.instructionsDiv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
  border: $wide-border solid black;
  height: $board-size;
  background: $dark-green;
  color: $white;
  font-size: 15px;
  line-height: 170%;
}

.title {
  align-self: center;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  margin-top: 7px;
  margin-bottom: 0px;
  margin-right: 5px;
}
