@import '../../style/variables/commonFixedSizes';
@import '../../style/variables/colors';

.newGameForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $dark-green;
  box-sizing: border-box;
  border: $wide-border solid $black;
  height: $board-size;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 10px;
}

.title {
  justify-self: start;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
