@import '../../style/variables/commonFixedSizes';
@import '../../style/variables/colors';

.container {
  display: flex;
  flex-direction: row;
}

.playerName {
  margin-bottom: 10px;
}

.pieceContainer {
  align-self: flex-start;
  width: $tile-size;
  height: $tile-size;
  margin: -2px 5px 5px 5px;
}

.computerPlayerDefinition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
}

.levelInput {
  width: 2em;
  margin-left: 3px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.black {
  color: $black;
}

.white {
  color: $white;
}
